<script>

// Insert title of project
const titleFirst="Natural Capital Data Visualization";
const titleSecond="to promote sustainable decision making";
$(
    '<h1 id="title" class="title first">' + titleFirst + '</h1>' +
    '<h1 class="title second">' + titleSecond + '</h1>'
 ).insertAfter("#TOC");

// Make table of contents the side navigation
const toc = $('#TOC ul:first-child');
toc.addClass("side-nav").addClass("fixed");

// Add link to live demo & title of project
const demoUrl = 'https://charlottegiseleweil.github.io/webviz_natcap/intro.html';
toc.prepend('<li>' + 
    '<a href="' + demoUrl + '">' +
    '<i class="material-icons">launch</i> Visualization dashboard' +
    '</a>' +
    '<div class="bottom divider"></div>' +
    '</li>' +
    '<li>' +
    '<a class="title" href="#title">' +
    titleFirst +
    '</a>' +
    '</li>');

// Add link to pdf document
toc.append(
    '<li>' + 
    '<div class="divider"></div>' +
    '<a href="thesis.pdf" target="_blank">' +
    '<i class="material-icons">picture_as_pdf</i> PDF version' +
    '</a>' +
    '</li>');


// Truncate long titles in side-nav & cool wave effect
$('#TOC ul li a').addClass("truncate").addClass('waves-effect');

// Make elements collapsible in side nav
$('#TOC ul').addClass("collapsible").addClass("collapsible-accordion");
$('#TOC ul li a').addClass("collapsible-header");
$('#TOC ul li a + ul').addClass("collapsible-body");

// Add cool avatar picture
const avatarUrl = '../images/avatar.jpg';
const logoUrl = '../images/natcap-logo.jpg';
const natcapUrl = 'http://www.naturalcapitalproject.org';
const githubUrl = 'https://github.com/charlottegiseleweil';
const linkedInUrl = 'https://www.linkedin.com/in/charlotteweil';
const email = 'weilcharlotte@gmail.com';
toc.prepend('<li>' +
    '<div class="userView">' +
    '<a class="inline" href="' + natcapUrl + '"><img class="logo" src="' + logoUrl + '"></a>' +
    '<a class="inline" href="' + githubUrl + '"><img class="avatar circle" src="' + avatarUrl + '"></a>' +
    '<span class="name">' + 
    'Author: Charlotte Weil' +
    '<a class="inline-icon" href="mailto:' + email + '"><i class="material-icons">email</i></a>' +
    '<a class="inline-icon" href="' + linkedInUrl + '"><i class="zmdi zmdi-linkedin"></i></a>' +
    '<a class="inline-icon" href="' + githubUrl + '"><i class="zmdi zmdi-github"></i></a>' +
    '</span>' +
    '</div>' +
    '<div class="divider"></div>' +
    '</li>');

// Make all external links open in new tab
$("main a[href^='http']").attr("target", "_blank");

// Add all reference links
$(".ref").each((i, x) => {
  const id = x.innerText;
  const refDiv = $('#' + id.replace(':', '\\:'));
  let text = '???';
  if (id.startsWith('sec:')) {
    text = refDiv.find('.header-section-number').text();
  } else if (id.startsWith('fig:')) {
    const alt = refDiv.attr('alt');
    if (alt) {
      text = alt.split(':')[0].substring(7);
    } else {
      console.log('Could not find text for figure: ', id);
    }
  } else {
    console.log('Could not find text for reference: ', id);
  }
  $(x).html('<a href=#'+ id + '>' + text + '</a>');
});

</script>
